<section class="l-1up-promo entity entity-paragraphs-item paragraphs-item-smc-1up-promo slice slice-1up slice-video-grid--single slice--contained-width">
   <div class="oneup-promo-image-wrap">
      <a href="{{include.donateUrl}}">
         <div id="file-14430" class="file file-hero-image file-image-jpeg">
            <div class="content">
               <img typeof="foaf:Image" src="{{include.imageUrl}}" width="450" height="300" alt="">
            </div>
         </div>
      </a>
   </div>
   <div class="oneup-promo-text-wrap">
      <div class="oneup-promo-text">
         <h2>{{ site.promo_one }}</h2>
         <div class="button-style-involved">
            <h3><a href="{{include.donateUrl}}">{{include.actionTxt}}</a></h3>
         </div>
      </div>
   </div>
</section>
